body {
  background-color: #2d3339;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.loginImg {
  width: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* Styling for the Table Container */
.MuiTableContainer-root {
  border: 4px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Styling for Date above workout group */
.workoutDate {
  color: #e4e4e4;
  font-weight: 400;
  font-style: italic;
  font-size: large;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Styling for Inputs */

.tonedInputLabel {
  color: #9effc5;
  font-weight: 600;
  font-size: large;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding-left: 5px;
}

.tonedInput {
  background-color: #e4e4e4;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  height: 2em;
  font-size: large;
  padding-left: 2%;
  padding-right: 2%;
}

.tonedLabel {
  color: #e4e4e4;
  text-align: center;
  font-style: italic;
  font-size: x-large;
  font-weight: 300;
  margin-bottom: 0;
}

.errorMsg {
  text-align: center;
  color: #f6c971;
  font-size: large;
}

.loginBtn {
  background-color: #9effc5;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.25em;
  height: 2em;
  font-weight: 600;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tonedButton {
  background-color: #9effc5;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  height: 2em;
  font-size: x-large;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .tonedButton {
    height: auto;
  }
}

.navbarImg {
  width: 50px;
}

table {
  color: rgb(228, 228, 228);
  border-collapse: collapse;
  width: 100%;
  background: #535d65;
}

thead,
th,
td {
  border: 2px solid #e4e4e4;
  font-weight: 700;
  padding: 5px;
}

.editPencil {
  display: inline;
  background: #f6c971;
  color: black;
  border-radius: 5px;
}

.deleteBtn {
  display: inline;
  background-color: rgb(255, 82, 82);
  border-radius: 5px;
  font-weight: 900;
  margin-left: 5px;
}

.btnContainer {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 50%;
}

.recent {
  display: flex;
  justify-content: center;
  color: rgb(228, 228, 228);
  font-size: 1.4em;
  font-weight: 900;
}

.welcome {
  color: rgb(228, 228, 228);
  font-weight: 400;
  font-size: 1.5em;
}
